/* Main styles for the App */
:root {
  /* font styles */
  --ff-sans: sans-serif;
  --ff-serif: serif;

  /* color pallete */
  --orange-60: hsl(27, 90%, 60%); /* #f5913e */
  --orange-55: hsl(27, 90%, 55%); /* #f2740d */
  --orange-50: hsl(27, 90%, 50%); /* #f2740d */
  --dark-gray-55: hsl(236, 6%, 55%); /* #858693 */
  --gray-88: hsl(0, 0%, 88%); /* #e0e0e0 */
  --gray-73: hsl(0, 0%, 73%); /* #bababa */
  --gray-63: hsl(0, 0%, 63%); /* #ccc */
  --gray-43: hsl(0, 0%, 43%); /* #ccc */
  --black-000: hsl(0, 0%, 0%); /* #000 */
  --white-fff: hsl(0, 0%, 100%);

  /* color assignment */
  --calc-fg-color: var(--black-00);
  --calc-bg-color: var(--gray-88);
  --calc-hv-color: var(--gray-63);
  --calc-ac-color: var(--gray-43);
  --disp-fg-color: var(--white-fff);
  --disp-bg-color: var(--dark-gray-55);
  --bsop-bg-color: var(--orange-60);
  --bsop-hv-color: var(--orange-55);
  --bsop-ac-color: var(--orange-50);
  --calc-border: 1px solid var(--gray-73);
}

/* Global Resets */
* {
  box-sizing: border-box;
}

body,
p,
h1 {
  margin: 0;
  padding: 0;
}

body {
  padding-block: 1em;
}

#root {
  max-inline-size: 90%;
  margin-inline: auto;
  display: flex;
  gap: 1em;
  flex-direction: column;
}

.calculator {
  margin-inline: auto;
  font-family: var(--ff-sans);
  font-weight: bold;
  color: var(--calc-fg-color);
  background-color: var(--calc-bg-color);
  min-inline-size: calc(12 * 2.5ch);
  display: grid;
  gap: 0;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    'dsp dsp dsp dsp'
    'clr neg pct div'
    'nm7 nm8 nm9 tms'
    'nm4 nm5 nm6 mns'
    'nm1 nm2 nm3 pls'
    'nm0 nm0 dec eql';
}

.calculator,
.display,
button {
  border: var(--calc-border);
}

.display {
  font-family: var(--ff-serif);
  font-size: 1.5rem;
  grid-area: dsp;
  text-align: end;
  padding-inline: 0.25em;
  padding-block: 0.4em;
  color: var(--disp-fg-color);
  background-color: var(--disp-bg-color);
}

button {
  display: inline-block;
  padding-block: 0.9em;
  color: var(--black-000);
  background-color: var(--calc-bg-color);
  font-weight: bold;
  outline: none;
}

button:hover {
  background-color: var(--calc-hv-color);
}

button:active {
  background-color: var(--calc-ac-color);
}

.clr { grid-area: clr; }
.neg { grid-area: neg; }
.pct { grid-area: pct; }
.div { grid-area: div; }
.nm7 { grid-area: nm7; }
.nm8 { grid-area: nm8; }
.nm9 { grid-area: nm9; }
.tms { grid-area: tms; }
.nm4 { grid-area: nm4; }
.nm5 { grid-area: nm5; }
.nm6 { grid-area: nm6; }
.mns { grid-area: mns; }
.nm1 { grid-area: nm1; }
.nm2 { grid-area: nm2; }
.nm3 { grid-area: nm3; }
.pls { grid-area: pls; }
.nm0 { grid-area: nm0; }
.dec { grid-area: dec; }
.eql { grid-area: eql; }

.basicOperator {
  background-color: var(--bsop-bg-color);
}

.basicOperator:hover {
  background-color: var(--bsop-hv-color);
}

.basicOperator:active {
  background-color: var(--bsop-ac-color);
}
